.dark {
  color: $color-dark;
}

.white {
  color: $color-white;
}

.backgroundß-white {
  background-color: $color-white;
}

.background-dark {
  background-color: $color-dark-2;
}

.background-gray {
  background-color: $color-gray;
}

.background-red {
  background-color: $color-red;
}

.background-green {
  background-color: $color-green;
}
